In [1]:
import pandas as pd
import numpy as np

### Load data

In [2]:
df = pd.read_csv('./dataset/indonesian_movies.csv')

In [3]:
df.head()

,title,year,description,genre,rating,users_rating,votes,languages,directors,actors,runtime
0,#FriendButMarried 2,2020,Ayudia (Mawar De Jongh) is not satisfied enoug...,Biography,13+,6.5,120,Indonesian,Rako Prijanto,"['Adipati Dolken', 'Mawar Eva de Jongh', 'Vonn...",100 min
1,4 Mantan,2020,"Sara, Airin, Rachel, and Amara were accidental...",Thriller,17+,6.4,8,Indonesian,Hanny Saputra,"['Ranty Maria', 'Jeff Smith', 'Melanie Berentz...",80 min
2,Aku Tahu Kapan Kamu Mati,2020,"After apparent death, Siena is able to see sig...",Horror,13+,5.4,17,Indonesian,Hadrah Daeng Ratu,"['Natasha Wilona', 'Ria Ricis', 'Al Ghazali', ...",92 min
3,Anak Garuda,2020,"Good Morning Indonesia, a school for poor orph...",Adventure,13+,9.1,27,Indonesian,Faozan Rizal,"['Tissa Biani Azzahra', 'Violla Georgie', 'Aji...",129 min
4,Dignitate,2020,Alfi (Al Ghazali) meets Alana (Caitlin Halderm...,Drama,17+,7.6,33,Indonesian,Fajar Nugros,"['Al Ghazali', 'Caitlin Halderman', 'Giorgino ...",109 min

### Drop title, description, directors, and actors

In [4]:
df = df.drop(['title', 'description', 'directors', 'actors'], axis=1)

In [5]:
df.head()

   year      genre rating  users_rating votes   languages  runtime
0  2020  Biography    13+           6.5   120  Indonesian  100 min
1  2020   Thriller    17+           6.4     8  Indonesian   80 min
2  2020     Horror    13+           5.4    17  Indonesian   92 min
3  2020  Adventure    13+           9.1    27  Indonesian  129 min
4  2020      Drama    17+           7.6    33  Indonesian  109 min

In [6]:
df.tail()

      year      genre rating  users_rating votes   languages  runtime
1267  1953      Drama    NaN           6.4    30  Indonesian   97 min
1268  1951      Drama    NaN           6.3     9  Indonesian  116 min
1269  1950      Drama    NaN           6.6    27  Indonesian  150 min
1270  1928  Adventure    NaN           7.0     8  Indonesian      NaN
1271  1926    Fantasy    NaN           7.2    11  Indonesian   60 min

In [7]:
df['genre'].unique()

array(['Biography', 'Thriller', 'Horror', 'Adventure', 'Drama', 'Comedy',
       'Animation', 'Action', 'History', 'Crime', 'Romance', 'Sci-Fi',
       'Family', nan, 'War', 'Fantasy'], dtype=object)

### Replace genre with number

In [8]:
df['genre'] = df['genre'].replace({
    " ": np.nan,
    "Biography":  1,
    "Thriller": 2,
    "Horror": 3,
    "Adventure": 4,
    "Drama": 5,
    "Comedy": 6,
    "Animation": 7,
    "Action": 8,
    "History": 9,
    "Crime": 10,
    "Romance": 11,
    "Sci-Fi": 12,
    "Family": 13,
    "War": 14,
    "Fantasy": 15
})

In [9]:
df.head(1100)

      year  genre rating  users_rating votes   languages  runtime
0     2020    1.0    13+           6.5   120  Indonesian  100 min
1     2020    2.0    17+           6.4     8  Indonesian   80 min
2     2020    3.0    13+           5.4    17  Indonesian   92 min
3     2020    4.0    13+           9.1    27  Indonesian  129 min
4     2020    5.0    17+           7.6    33  Indonesian  109 min
...    ...    ...    ...           ...   ...         ...      ...
1095  1989    6.0    NaN           7.1    22  Indonesian   81 min
1096  1989    8.0    NaN           7.9     8  Indonesian      NaN
1097  1989    4.0    NaN           6.0     7  Indonesian      NaN
1098  1989    3.0    NaN           4.6    12  Indonesian      NaN
1099  1988    NaN    NaN           7.1     7  Indonesian      NaN

[1100 rows x 7 columns]

### Replace rating (age consumtio) with number

In [10]:
df['rating'].unique()

array(['13+', '17+', nan, 'SU', 'TV-14', '21+', 'TV-MA', 'Not Rated', 'R',
       'D', 'PG-13', 'Unrated'], dtype=object)

In [11]:
df['rating'] = df['rating'].replace({
    " ": np.nan,
    "13+": 1,
    "17+": 2,
    "SU": 3,
    "TV-14": 4,
    "21+": 5,
    "TV-MA": 6,
    "Not Rated": 7,
    "R": 8,
    "D": 9,
    "PG-13": 10,
    "Unrated": 11
})

In [12]:
df.head()

   year  genre  rating  users_rating votes   languages  runtime
0  2020    1.0     1.0           6.5   120  Indonesian  100 min
1  2020    2.0     2.0           6.4     8  Indonesian   80 min
2  2020    3.0     1.0           5.4    17  Indonesian   92 min
3  2020    4.0     1.0           9.1    27  Indonesian  129 min
4  2020    5.0     2.0           7.6    33  Indonesian  109 min

### Replace language with number

In [13]:
df['languages'].unique()

array(['Indonesian', 'English', 'Minangkabau', 'Japanese', 'French',
       'Dutch', 'Malay', 'Mandarin'], dtype=object)

In [14]:
df['languages'].isnull().sum()

0

In [15]:
df['languages'] = df['languages'].replace({
    "Indonesian": 1,
    "English": 2,
    "Minangkabau": 3,
    "Japanese": 4,
    "French": 5,
    "Dutch": 6,
    "Malay": 7,
    "Mandarin": 8
})

In [16]:
df.head()

   year  genre  rating  users_rating votes  languages  runtime
0  2020    1.0     1.0           6.5   120          1  100 min
1  2020    2.0     2.0           6.4     8          1   80 min
2  2020    3.0     1.0           5.4    17          1   92 min
3  2020    4.0     1.0           9.1    27          1  129 min
4  2020    5.0     2.0           7.6    33          1  109 min

### Remove "min" in runtime

In [17]:
df['runtime'].isnull().sum()

403

In [18]:
df['runtime'] = df['runtime'].str.replace(r'\D', '')
df.head()

   year  genre  rating  users_rating votes  languages runtime
0  2020    1.0     1.0           6.5   120          1     100
1  2020    2.0     2.0           6.4     8          1      80
2  2020    3.0     1.0           5.4    17          1      92
3  2020    4.0     1.0           9.1    27          1     129
4  2020    5.0     2.0           7.6    33          1     109

### Handle years to number

In [19]:
df['year'].unique()

array([2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013, 2012, 2011, 2010,
       2009, 2008, 2007, 2006, 2005, 2004, 2003, 2002, 2001, 2000, 1999,
       1998, 1997, 1996, 1995, 1994, 1993, 1992, 1991, 1990, 1989, 1988,
       1987, 1986, 1985, 1984, 1983, 1982, 1981, 1980, 1979, 1978, 1977,
       1976, 1975, 1974, 1973, 1972, 1971, 1970, 1962, 1961, 1958, 1956,
       1955, 1954, 1953, 1951, 1950, 1928, 1926])

In [20]:
df['year'] = df['year'].replace({
    2020: 1, 2019: 2, 2018: 3, 2017: 4, 2016: 5, 2015: 6, 2014: 7, 2013: 8, 2012: 9, 2011: 10, 2010: 11,
    2009: 12, 2008: 13, 2007: 14, 2006: 15, 2005: 16, 2004: 17, 2003: 18, 2002: 19, 2001: 20, 2000: 21, 1999: 22,
    1998: 23, 1997: 24, 1996: 25, 1995: 26, 1994: 27, 1993: 28, 1992: 29, 1991: 30, 1990: 31, 1989: 32, 1988: 33,
    1987: 34, 1986: 35, 1985: 36, 1984: 37, 1983: 38, 1982: 39, 1981: 40, 1980: 41, 1979: 42, 1978: 43, 1977: 44,
    1976: 45, 1975: 46, 1974: 47, 1973: 48, 1972: 49, 1971: 50, 1970: 51, 1962: 52, 1961: 53, 1958: 54, 1956: 55,
    1955: 56, 1954: 57, 1953: 58, 1951: 59, 1950: 60, 1928: 61, 1926: 62
})

### Usefull descriptions

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1272 entries, 0 to 1271
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   year          1272 non-null   int64
 1   genre         1236 non-null   float64
 2   rating        376 non-null    float64
 3   users_rating  1272 non-null   float64
 4   votes         1272 non-null   object
 5   languages     1272 non-null   int64
 6   runtime       869 non-null    object
dtypes: float64(3), int64(2), object(2)
memory usage: 69.7+ KB

In [22]:
df.describe()

              year        genre      rating  users_rating    languages
count  1272.000000  1236.000000  376.000000   1272.000000  1272.000000
mean     13.852987     5.238673    2.930851      6.144418     1.047956
std      12.444796     2.006990    2.698247      1.389315     0.400702
min       1.000000     1.000000    1.000000      1.200000     1.000000
25%       5.000000     4.000000    1.000000      5.300000     1.000000
50%      10.000000     5.000000    2.000000      6.400000     1.000000
75%      15.000000     6.000000    3.000000      7.100000     1.000000
max      62.000000    15.000000   11.000000      9.400000     8.000000

In [23]:
df.corr()

                  year     genre    rating  users_rating  languages
year          1.000000  0.228081  0.589840      0.016064   0.054744
genre         0.228081  1.000000  0.217266      0.077926   0.087795
rating        0.589840  0.217266  1.000000     -0.123999   0.132555
users_rating  0.016064  0.077926 -0.123999      1.000000   0.011293
languages     0.054744  0.087795  0.132555      0.011293   1.000000

In [24]:
print(df.duplicated(subset=None, keep='first'))
print('Duplicate: ', df.duplicated(subset=None, keep='first').sum())

0       False
1       False
2       False
3       False
4       False
        ...
1267    False
1268    False
1269    False
1270    False
1271    False
Length: 1272, dtype: bool
Duplicate:  0

In [25]:
df.isnull().sum()

year              0
genre            36
rating          896
users_rating      0
votes             0
languages         0
runtime         403
dtype: int64

In [26]:
(df['genre'].mode())

0    5.0
dtype: float64

### Handle null value is genre (replace with modus because this is a categorical data)

In [27]:
df['genre'] = df['genre'].replace({
    np.nan: 5.0
})

In [28]:
df.isnull().sum()

year              0
genre             0
rating          896
users_rating      0
votes             0
languages         0
runtime         403
dtype: int64

In [29]:
df['genre']

0        1.0
1        2.0
2        3.0
3        4.0
4        5.0
        ...
1267     5.0
1268     5.0
1269     5.0
1270     4.0
1271    15.0
Name: genre, Length: 1272, dtype: float64

In [30]:
df.isnull().sum()

year              0
genre             0
rating          896
users_rating      0
votes             0
languages         0
runtime         403
dtype: int64

In [31]:
df.to_csv('./dataset/core_indonesian_movies.csv', index=False)

### Detect outlier

In [32]:
df_outlier = df["votes"].str.replace(',', '.')

In [33]:
df_outlier.head(140)

0        120
1          8
2         17
3         27
4         33
       ...
135       24
136    4.235
137       28
138       61
139       52
Name: votes, Length: 140, dtype: object

In [34]:
df_outlier = df_outlier.astype('float64')

In [35]:
outlier = df_outlier.quantile(0.99)

In [36]:
tes = [df_outlier < outlier]

In [37]:
df

      year  genre  rating  users_rating votes  languages runtime
0        1    1.0     1.0           6.5   120          1     100
1        1    2.0     2.0           6.4     8          1      80
2        1    3.0     1.0           5.4    17          1      92
3        1    4.0     1.0           9.1    27          1     129
4        1    5.0     2.0           7.6    33          1     109
...    ...    ...     ...           ...   ...        ...     ...
1267    58    5.0     NaN           6.4    30          1      97
1268    59    5.0     NaN           6.3     9          1     116
1269    60    5.0     NaN           6.6    27          1     150
1270    61    4.0     NaN           7.0     8          1     NaN
1271    62   15.0     NaN           7.2    11          1      60

[1272 rows x 7 columns]

### Handle missing value in rating

In [38]:
from sklearn.impute import KNNImputer

In [40]:
imputer = KNNImputer(n_neighbors=5)

In [47]:
df['rating'] = pd.to_numeric(df['rating'], downcast="float")

In [48]:
df['rating']

0       1.0
1       2.0
2       1.0
3       1.0
4       2.0
       ...
1267    NaN
1268    NaN
1269    NaN
1270    NaN
1271    NaN
Name: rating, Length: 1272, dtype: float32

In [49]:
df['runtime'] = pd.to_numeric(df['runtime'], downcast="float")

In [53]:
df['votes'] = df["votes"].str.replace(',', '')
df['year'] = pd.to_numeric(df['year'], downcast="float")
df['genre'] = pd.to_numeric(df['genre'], downcast="float")
df['users_rating'] = pd.to_numeric(df['users_rating'], downcast="float")
df['votes'] = pd.to_numeric(df['votes'], downcast="float")
df['languages'] = pd.to_numeric(df['languages'], downcast="float")

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1272 entries, 0 to 1271
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   year          1272 non-null   float32
 1   genre         1272 non-null   float32
 2   rating        376 non-null    float32
 3   users_rating  1272 non-null   float32
 4   votes         1272 non-null   float32
 5   languages     1272 non-null   float32
 6   runtime       869 non-null    float32
dtypes: float32(7)
memory usage: 34.9 KB

In [110]:
imputer = KNNImputer(n_neighbors=2)
df_test = imputer.fit_transform(df)

In [111]:
copy_df = df

In [112]:
copy_df = imputer.fit_transform(df)

In [113]:
copy_df

array([[  1. ,   1. ,   1. , ..., 120. ,   1. , 100. ],
       [  1. ,   2. ,   2. , ...,   8. ,   1. ,  80. ],
       [  1. ,   3. ,   1. , ...,  17. ,   1. ,  92. ],
       ...,
       [ 60. ,   5. ,   7.5, ...,  27. ,   1. , 150. ],
       [ 61. ,   4. ,   7.5, ...,   8. ,   1. , 111.5],
       [ 62. ,  15. ,   7.5, ...,  11. ,   1. ,  60. ]], dtype=float32)

In [114]:
df_new = pd.DataFrame(data=copy_df, columns=["year", "genre", "rating", "users_rating", "votes", "languages", "runtime"])

In [115]:
df_new

      year  genre  rating  users_rating  votes  languages  runtime
0      1.0    1.0     1.0           6.5  120.0        1.0    100.0
1      1.0    2.0     2.0           6.4    8.0        1.0     80.0
2      1.0    3.0     1.0           5.4   17.0        1.0     92.0
3      1.0    4.0     1.0           9.1   27.0        1.0    129.0
4      1.0    5.0     2.0           7.6   33.0        1.0    109.0
...    ...    ...     ...           ...    ...        ...      ...
1267  58.0    5.0     4.0           6.4   30.0        1.0     97.0
1268  59.0    5.0     7.5           6.3    9.0        1.0    116.0
1269  60.0    5.0     7.5           6.6   27.0        1.0    150.0
1270  61.0    4.0     7.5           7.0    8.0        1.0    111.5
1271  62.0   15.0     7.5           7.2   11.0        1.0     60.0

[1272 rows x 7 columns]

In [116]:
df_new.isnull().sum()

year            0
genre           0
rating          0
users_rating    0
votes           0
languages       0
runtime         0
dtype: int64

In [118]:
df.describe()

,year,genre,rating,users_rating,votes,languages,runtime
count,1272.000000,1272.000000,376.000000,1272.000000,1272.000000,1272.000000,869.000000
mean,13.852987,5.231918,2.930851,6.144418,459.427673,1.047956,97.069046
std,12.444796,1.978759,2.698247,1.389315,6288.883301,0.400702,16.120794
min,1.000000,1.000000,1.000000,1.200000,5.000000,1.000000,45.000000
25%,5.000000,4.000000,1.000000,5.300000,12.000000,1.000000,88.000000
50%,10.000000,5.000000,2.000000,6.400000,27.000000,1.000000,95.000000
75%,15.000000,6.000000,3.000000,7.100000,76.000000,1.000000,105.000000
max,62.000000,15.000000,11.000000,9.400000,187222.000000,8.000000,262.000000

In [119]:
df.corr()

,year,genre,rating,users_rating,votes,languages,runtime
year,1.000000,0.216283,0.589840,0.016064,-0.032090,0.054744,-0.000962
genre,0.216283,1.000000,0.217259,0.076527,0.058295,0.088168,0.052378
rating,0.589840,0.217259,1.000000,-0.123999,0.181810,0.132555,-0.063943
users_rating,0.016064,0.076527,-0.123999,1.000000,0.048199,0.011293,0.318267
votes,-0.032090,0.058295,0.181810,0.048199,1.000000,0.023786,0.089810
languages,0.054744,0.088168,0.132555,0.011293,0.023786,1.000000,0.052648
runtime,-0.000962,0.052378,-0.063943,0.318267,0.089810,0.052648,1.000000

In [120]:
df_new.to_csv('./dataset/core_indonesian_movies_after_fill_mising_value.csv', index=False)